<!doctype html>
<html>
  <head>
    <title>Hello from Silex {{ constant('Silex\\Application::VERSION') }}</title>
  </head>
  <body>
    <h1>Hello {{ name }} from Silex {{ constant('Silex\\Application::VERSION') }}</h1>
  </body>
</html>
