<!doctype html>
<html>
  <head>
    <title>Hello from Slim {{ constant('Slim\\App::VERSION') }}</title>
  </head>
  <body>
    <h1>Hello {{ name }} from Slim {{ constant('Slim\\App::VERSION') }}</h1>
  </body>
</html>
