# Code owners file

# This file controls who is tagged for review for any given pull request

#

# For syntax help see

# <https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax>

# The php-admins team is the default owner for anything not

# explicitly taken by someone else

* @GoogleCloudPlatform/php-samples-reviewers @GoogleCloudPlatform/cloud-samples-infra

# Kokoro

.kokoro @GoogleCloudPlatform/php-admins

/bigtable/**/*.php        @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/php-samples-reviewers
/cloud_sql/**/*.php       @GoogleCloudPlatform/cloud-sql-connectors @GoogleCloudPlatform/php-samples-reviewers
/datastore/**/*.php       @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/php-samples-reviewers
/firestore/**/*.php       @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/php-samples-reviewers
/storage/                 @GoogleCloudPlatform/gcs-sdk-team @GoogleCloudPlatform/php-samples-reviewers
/spanner/                 @GoogleCloudPlatform/api-spanner @GoogleCloudPlatform/php-samples-reviewers
/secretmanager/           @GoogleCloudPlatform/php-samples-reviewers @GoogleCloudPlatform/cloud-secrets-team
/parametermanager/        @GoogleCloudPlatform/php-samples-reviewers @GoogleCloudPlatform/cloud-secrets-team @GoogleCloudPlatform/cloud-parameters-team
/modelarmor/              @GoogleCloudPlatform/php-samples-reviewers @GoogleCloudPlatform/cloud-modelarmor-team  

# Serverless, Orchestration, DevOps

/appengine/               @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/php-samples-reviewers
/functions/               @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/php-samples-reviewers
/run/                     @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/php-samples-reviewers
/eventarc/                @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/php-samples-reviewers

# DLP samples owned by DLP team

/dlp/                     @GoogleCloudPlatform/googleapis-dlp

# Brent is taking ownership of these samples as they are not supported by the ML team  

/dialogflow/              @bshaffer
/language/                @bshaffer
/speech/                  @bshaffer
/translate/               @bshaffer
/texttospeech/            @bshaffer
/vision/                  @bshaffer
/video/                   @bshaffer

# Compute samples owned by Remik

/compute/cloud-client/    @rsamborski

# Deprecated

/iot/                     @GoogleCloudPlatform/php-samples-reviewers
