# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The php-admins team is the default owner for anything not
# explicitly taken by someone else.
*                         @GoogleCloudPlatform/php-samples-reviewers

# Kokoro
.kokoro @GoogleCloudPlatform/php-admins

/bigtable/**/*.php        @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/php-samples-reviewers
/cloud_sql/**/*.php       @GoogleCloudPlatform/infra-db-dpes @GoogleCloudPlatform/php-samples-reviewers
/datastore/**/*.php       @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/php-samples-reviewers
/firestore/**/*.php       @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/php-samples-reviewers
/iot/                     @gcseh @GoogleCloudPlatform/api-iot @GoogleCloudPlatform/php-samples-reviewers
/storage/                 @GoogleCloudPlatform/storage-dpe @GoogleCloudPlatform/php-samples-reviewers
/spanner/                 @GoogleCloudPlatform/api-spanner @GoogleCloudPlatform/php-samples-reviewers

# Serverless, Orchestration, DevOps
/appengine/               @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/php-samples-reviewers
/functions/               @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/php-samples-reviewers 
/run/                     @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/php-samples-reviewers
/eventarc/                @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/php-samples-reviewers

# Functions samples owned by the Firebase team
/functions/firebase_analytics   @schandel @samtstern


# Brent is taking ownership of these samples as they are not supported by the ML team
/dlp/                     @bshaffer  
/dialogflow/              @bshaffer
/language/                @bshaffer
/speech/                  @bshaffer
/translate/               @bshaffer
/texttospeech/            @bshaffer
/vision/                  @bshaffer
/video/                   @bshaffer

# Compute samples owned by Remik
/compute/cloud-client/    @rsamborski
