parameters:
    level: 7
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
    - '#expects Google\\Protobuf\\Internal\\RepeatedField&#'
    - '#Cannot assign new offset to Google\\Protobuf\\Internal\\RepeatedField#'

