<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="../testing/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
    </exclude>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="PHP storageinsights test">
      <directory>test</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <env name="PHPUNIT_TESTS" value="1"/>
  </php>
</phpunit>
