<html>
<body>
<H1>Google Analytics Sample</H1>
<p>This sample demonstrates how to post event tracking data to Google Analytics
with PHP and Google App Engine Flexible Environment.</p>

<p>HTTP post to {{ base_uri }} returned {{ response_code }} {{ response_reason }}
</p>
</body>
</html>
