<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
  <php>
    <env name="GA_TRACKING_ID" value="UA-78971600-1"/>
  </php>
  <testsuites>
    <testsuite>
      <directory>test</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>
  <filter>
    <whitelist>
      <file>app.php</file>
    </whitelist>
  </filter>
</phpunit>
