<!DOCTYPE HTML>
<html>
  <head>
    <title>Http Example</title>
  </head>

  <body>
    <h1>Http Example</h1>

    <div>
      <h3>Request with <code>file_get_contents</code></h3>

      <form action="/request/file" method="post">
          <input type="submit" value="Make an HTTP Request" />
      </form>

      {% if file_result is defined %}
        <pre>{{ file_result }}</pre>
      {% endif %}
    </div>

    <div>
      <h3>Request with Curl</h3>

      <form action="/request/curl" method="post">
          <input type="submit" value="Make an HTTP Request" />
      </form>

      {% if curl_result is defined %}
        <pre>{{ curl_result }}</pre>
      {% endif %}
    </div>

    <div>
      <h3>Request with Guzzle</h3>

      <form action="/request/guzzle" method="post">
          <input type="submit" value="Make an HTTP Request" />
      </form>

      {% if guzzle_result is defined %}
        <pre>{{ guzzle_result }}</pre>
      {% endif %}
    </div>
  </body>
</html>
