<html>
<body>
<H1>Hello Static Content</H1>
<p>This sample demonstrates how to serve static content with nginx, and
dynamic content with silex.</p>

<p>Enjoy this static image of trees:</p>
<img src="trees.jpg">

<p>Here's a <a href="static.html">link to a static document.</a></p>

<p>Your ip address is {{ ip }}.</p>
</body>
</html>
